{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="CSS/styleWelcome.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- <script defer src="js/scriptEstrutural.js"></script> -->
    <!-- <script defer src="js/scriptHome.js"></script> -->


    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'CSS/styleEstrutual.css'%}">
    <link rel="stylesheet" href="{% static 'CSS/styleMainHome.css' %}">

    <title>Luan Correia</title>
</head>


<body class="container">

    <header class=" sticky-top header row">
        <div class="header-wrap col-md-6">
            <h1>Meu site <span>pessoal</span></h1>
        </div>
        <div class=" header-wrap-name col-md-12   ">
            <a href="{% url 'index' %}">
                <h2>Luan Correia Neves</h2>
            </a>
        </div>
        <nav class="header-wrap-links col-md-7">
            <a class="btn btn-light btn-sm " href="{% url 'index' %}">Home</a>
            <a class="btn btn-light btn-sm" href="{% url 'cursos' %}">Meus cursos</a>
            <a class="btn btn-light btn-sm" href=" {% url 'contato' %} ">Contato</a>
        </nav>
    </header>

    <main>

        <div class="blackSkin row ">
            <aside class="aside-main col-12 col-sm-12 col-md-12 col-lg-3 ">
                <div class="aside-content">
                    <h1>Formação</h1>
                    <ul>
                        <li>CST em Análise e desenvolvimento de sistemas na Faculdade cruzeiro do sul</li>
                    </ul>
                </div>
            </aside>
            <section class="section-main col-12 col-sm-12 col-md-12 col-lg-9">

                <div class="section-content">
                    <h1>Sobre mim</h1>
                    <img class="img-responsive" src=" {% static 'imagens/imgMain.jpg' %} " alt="imagem Luan">
                    <p>
                        Me chamo Luan Correia Neves, tenho <span id="tagIdade"></span>, nasci e fui criado na cidade de
                        São
                        Paulo,
                        especificamente na região do <a href="https://pt.wikipedia.org/wiki/Itaim_Paulista"
                            target="blank">Itaim Paulista</a>, cursei o ensino fundamental e médio na
                        escola <a href="https://www.melhorescola.com.br/escola/publica/mario-kozel-filho"
                            target="blank">Mário Kozel Filho,</a> durante o ensino médio consegui uma bolsa para fazer
                        curso
                        <a href="https://drummond.com.br/tecnico-em-mecatronica_C200/" target="blank"> técnico em
                            Mecatrônica</a> no <a href="https://drummond.com.br/" target="blank">Colégio e Faculdade
                            Carlos
                            Drummond de Andrade.</a></p>

                    <p>Durante o curso técnico notei a facilidade e desenvoltura com a programação dos
                        microcontroladores em
                        C.
                        Onde desenvolvemos uma casa automatizada controlada via celular, com comunicação bluetooth.
                        Claro,
                        fiquei
                        responsável por programar tudo isso : )</p>

                    <p>Após encerrar o curso técnico com exito, iniciei meus estudos um pouco mais próximos aos códigos,
                        com
                        a
                        Faculdade de <a
                            href="https://www.cruzeirodosul.edu.br/graduacao/curso/analise-e-desenvolvimento-de-sistemas-tecnologico"
                            target="blank">Análise
                            e desenvolvimento de sistemas</a>.
                    </p>
                </div>

            </section>
        </div>
    </main>
    <footer class="footer-content row">
        <div class="footer-links col-md-12">

            <a href="https://www.facebook.com/luan.correa.562" target="blank">
                <img src="{% static 'icons/facebook-app-logo.png' %}">
            </a>

            <a href="https://github.com/Luan121314" target="blank">
                <img src="{% static 'icons/github-sign.png' %}">
            </a>

            <a href="https://www.linkedin.com/in/luan-neves-4a320717b/" target="blank">
                <img src="{% static 'icons/linkedin-logo.png' %}">
            </a>

        </div>

        <div class="final-footer col-md-12 "> Luan.staner © 2019</div>
    </footer>
</body>

</html>