.card-box{
    background-color: rgba(240, 248, 255, 0.219);
    width: 50%;
    margin: 5px;
    padding: 10px;
    text-align: justify;   
    box-shadow: 5px 5px 5px #000;
    color: #fff;
}
.card-box P{
    font-weight: 200;
    font-size: 12pt;
}
.card-box{
    font-size: 14pt;
}
.main-content{
    display: flex;
    justify-content: center;
}