.boxForm{
    width: 50%;
}
form{
    margin-top: 10px;

}
form input, form textarea{
    border-radius: 5px;
    margin: 5px 0;
}
form button{
    margin: 10px 0;
}
*{
    color: rgb(235, 235, 235);
}

